//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "{{ dns.zone }}" {
    type slave;
    masterfile-format text;
    file "{{dns_dump.path}}/{{ dns.zone }}";
    masters {
    {% for master in dns.masters %}
      {{ master }};
    {% endfor  -%}
    };
    allow-query  {
        10.0.0.0/8;
        172.16.0.0/12;
        192.168.0.0/16;
    };
};
