[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Type=simple
ExecStart=/usr/local/bin/kanata --cfg /etc/kanata/layout1.kbd

[Install]
WantedBy=default.target
